.deutschkurse {
    text-align: justify;
    &__content {
        position: relative;
        height: max-content;
        background: #a6005b38;
        color: #222;
        &__table {
           width: 100%;
           margin: 50px auto; 
           font-weight: 600;
           font-size: 24px;
        }
        &__info {
            font-size: 24px;
            font-weight: 600;
            margin-top: 50px;
        }
    }
}

.kurs-submit {
    display: block;
    color: #222;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    background: none;
    border: none;
    border-bottom: 2px #6f982b solid;
    padding: 10px 20px;
    margin: 30px auto;
    cursor: pointer;
    &:hover {
        border-bottom: 2px solid #222;
    }
}

@media screen and (max-width: 992px) {
    .deutschkurse {
        &__content {
            padding: 150px 30px 50px;
            h1 {
                font-size: 24px;
            }
            &__table {
                font-size: 18px;
                td {
                    padding: 0 15px 10px 0;
                }
            }
            &__info {
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .deutschkurse {
        &__content {
            padding: 150px 10px 50px;
            &__table {
                font-size: 18px;
                td {
                    padding-right: 15px;
                }
            }
            &__info {
                font-size: 18px;
            }
        }
    }
}

.beispiel {
    color: red;
    font-size: 30px;
}