.dance-academy {
    padding-top: 50px;
    &__info {
        margin-top: 50px;
        text-align: center;
        font-weight: 600;
        a {
            font-size: 18px;
            color: #6f982b;
        }
    }
}