.work-with-us {
    margin-top: 200px;
    padding: 0 20px;
    h2 {
        font-size: 48px;
        margin-bottom: 50px;
    }
    &__content {
        display: flex;
        justify-content: space-evenly;
        .offer-card {
            width: 45%;
        }
    }
}

@media screen and (max-width: 768px) {
    .work-with-us {
        margin-top: 60px;
        padding: 0 10px;
        h2 {
            font-size: 28px;
        }
        &__content {
            align-items: center;
            flex-direction: column;
            gap: 30px;
            .offer-card {
                width: 100%;
            }
        }
    }
    
}