.donate {
    &__content {
        &__details {
            position: relative;
            background: #6800746c;
            display: flex;
            flex-direction: column;
            gap: 30px;
            text-align: justify;
            font-size: 22px;
            color: #f5f5f5;
            img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                opacity: 0.7;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            h1 {
                text-align: center;
                font-size: 48px;
            }
            div {
                margin: 0 auto;
                text-align: center;
            }
        }
        &__subscription {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            h2 {
                font-size: 36px;
            }
            form {
                display: flex;
                flex-direction: column;
                max-width: 700px;
                width: 80%;
                input {
                    font-size: 18px;
                }
            }
        }
    }
    &__input {
        border: none;
        border-bottom: 1px solid #222;
        padding: 5px 10px;
        margin-top: 15px;
        &:focus {
            outline: none;
        }
        &__set {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
            div{
                display: flex;
                gap: 10px;
            }
        }
    }
    &__checkbox {
        display: flex;
        align-items: flex-start;
        gap: 5px;
        padding-top: 10px;
        input {
            margin-top: 5px;
        }
    }
    &__btn {
        display: block;
        width: max-content;
        padding: 5px 10px;
        margin: 20px auto;
        font-size: 28px;
        font-weight: 600;
        text-transform: uppercase;
        background: none;
        border: none;
        border-bottom: 3px solid #6f982b;
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    .donate {
        &__content {
            &__details {
                padding: 100px 10px;
                h1 {
                    font-size: 36px;
                }
                p, a {
                    font-size: 18px;
                }
            }
        }
    }
}