.sponsors {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
    overflow: hidden;
    h2{
        font-size: 48px;
    }
    &__logos{
        padding: 50px 0;
        &__item {
            display: flex;
            gap: 20px;
            img {
                width: 100%;
                height: 180px;
                object-fit: cover;
                transition: all .3s ease;
            }
        }
    }
}

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-140%);
    }
}

@keyframes scrollSm {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-365%);
    }
}

@media screen and (max-width: 1200px) {
    .sponsors {
        margin-top: 60px;
    }
}

@media screen and (max-width: 768px) {
    .sponsors {
        h2{
            font-size: 36px;
        }
        &__logos {
            flex-wrap: wrap;
            &__item img {
                height: 100px;
            }
        }
    }
    .animate-scrollSm {
        animation: scrollSm 15s linear infinite;
    }
}

@media screen and (min-width: 769px) {

    .animate-scroll {
        animation: scroll 15s linear infinite;
    }
    
    
}