.social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    gap: 20px;
    text-align: center;
    height: 100%;
    li a {
        font-size: 28px;
    }
    & li:nth-child(1):hover a{
        color: #316FF6;
        filter: drop-shadow(0 0 10px #316FF6);
    }
    & li:nth-child(2):hover a{
        color: #cd486b;
        filter: drop-shadow(0 0 10px #cd486b);
    }
    & li:nth-child(3):hover a{
        color:  #004f9f;
        filter: drop-shadow(0 0 10px #004f9f);
    }
    & li:nth-child(4):hover a{
        color: #075e54;
        filter: drop-shadow(0 0 10px #075e54);
    }
}


@media screen and (max-width: 768px){
    .social-media {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
}