.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    background: #ffffffc9;
    z-index: 2;
    text-align: left;
    border-top: 1px solid #22222276;
    padding: 15px 50px 30px;
    margin-top: 150px;
    h2 {
        text-transform: uppercase;
        font-size: 36px;
        padding-bottom: 20px;
    }
    h4{
        font-size: 24px;
    }
    p, a{
        font-size: 18px;
    }
}



@media screen and (max-width: 1200px) {
    .footer {
        gap: 50px;
        margin-top: 60px;
        padding: 15px 20px 30px;
        h2 {
            font-size: 24px;
        }
        h4 {
            font-size: 20px;
        }
        p {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 992px) {
    .footer {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}


@media screen and (max-width: 768px){
    .footer {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 30px;
    }
}
