.main-button {
    position: relative;
    padding: 20px 40px;
    max-width: 100px;
    background: linear-gradient(-45deg, #cd00bf, #FF3D77, #338AFF, #009b0a);
    background-size: 600%;
    animation: anime 16s linear infinite;
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 16px;
    transition: all .3s ease;
    &:hover {
        box-shadow: rgba(#009b0a, 0.5) 0px 0px 20px 0px;
        transform: scale(1.1);
    }
    div {
        position: absolute;
        margin-top: -70px;
        z-index: -1;
        filter: blur(30px);
        opacity: 0.8;
    }
}


@keyframes anime {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



@media screen and (max-width: 1200px) {
    .main-button {
        padding: 15px 30px;
        border-radius: 12px;
        font-size: 14px;
    }
}

@media screen and (max-width: 992px) {
    .main-button {
        padding: 10px 15px;
        border-radius: 8px;
        font-size: 12px;
    }
}
