.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

@media screen and (max-width: 768px){
    .contacts {
        align-items: center;
    }
}